


*{
    padding: 0;
    margin: 0;
 }
 .navbar{
    display:flex;
    flex-direction: row;
    /* position:absolute; */
    width:100vw;
    height:10vh;
    background: #000;
    /* justify-content: space-between; */
 }
 .logo{
    height: 50px;
    width:50px;
    color: red;
    position:fixed;
    margin-top: 3px;
    align-items: left;
 }
 .menus{
    display:flex;
    flex-direction: row;
    position:relative;
 }
 .menu{
    display:flex;
    flex-direction: row;
    position: relative;
    /* justify-content: end; */
    /* align-items: right; */
    margin-left: 15vw;
    margin-top: 0.5vw;
 }
 li{
    list-style: none;
    padding-left: 5vw;
 }
 a{
    text-decoration: none;
    color: yellow;
    font-size: 15px;
 }
 .ham{
    color:red;
    /* display: none; */
    height: 30px;
    width:30px;
 }
 .cross{
    height: 30px;
    width:30px;
    color:red;
 }
 .hamcross{
    display: none;
    margin-left: 90vw;
    margin-top: 20px;
    z-index: 9;
 }
 @media screen and (max-width:703px){
    li{
        /* list-style: none; */
        padding-left: 3vw;
     }
    .menu{
        margin-left: 12vw;
    }
 }
 @media screen and (max-width:555px){
    .menu{
        flex-direction: column;
        z-index: 7;
        /* display: none; */
        position: absolute;
        margin-left: -100%;
    }
    .hamcross{
        display: initial;
    }
    li{
        padding-top: 10vh;
    }
    
 }
 @media screen and (max-width:308px){
    .hamcross{
        margin-left: 80vw;
        z-index: 9;
    }

 }
 
 .active{
    margin-left: 53%;
    /* margin-top: 15vw; */
    background-color: rgb(118, 183, 183);
    height:100vh;
    width: 50%;
    justify-content: center;
    align-items: center;
    translate:initial;
 }
 @media screen and (max-width:307px){
    .active{
        margin-left: 58.5%;
    }
    
 }
 @media screen and (max-width:350px) {
    a{
        font-size: 15px;
    }
    .active{
        margin-left: 60.2%;
        /* position: fixed; */
    }
    
 }
 
